@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  border: 2px solid #47476b;
  width: 334px;
  padding: 5px;
  background: black;
}

.formulaScreen {
  color: orange;
  min-height: 20px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: top;
  text-align: right;
}

.outputScreen {
  color: white;
  font-size: 29px;
  line-height: 35px;
  text-align: right;
}

button {
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  font-size: 20px;
  cursor: default;
  
  background-color: #4d4d4d;
}

button:hover {
  color: black;
  outline: 0.05em solid grey;
}

.jumbo {
  width: 160px;
}